doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(href="css/main.css" rel="stylesheet")
        title Gulp template
    body
        p Hello Gulp